.btnAdd{
    -fx-background-image: url("../asserts/addToCart3.png");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

.btnRemoveBooking {
    -fx-background-image: url("../asserts/removeBooking.png");
    -fx-background-size: 48px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius: 30;
}

.btnRemoveBooking:hover
{
    -fx-background-color: #cdc9c9;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;

}

.btnRemoveBooking:pressed
{
    -fx-background-color: #cdc9c9;
}

.btnAddBooking {
    -fx-background-image: url("../asserts/addBooking.png");
    -fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius: 30;
}

.btnAddBooking:hover
{
    -fx-background-color: #cdc9c9;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

.btnAddBooking:pressed
{
    -fx-background-color: #cdc9c9;
}

.btnClose{
    -fx-background-image: url("../asserts/closeBooking.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius: 30;
}

.btnClose:hover
{
    -fx-background-color: #cdc9c9;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

.btnClose:pressed
{
    -fx-background-color: #cdc9c9;
}